<h1>{{FilmName}}</h1>
<table border="1">
    <tr>
        <th>
            Name
        </th>
        <th>
            Release Date
        </th>
        <th>
            Synopsis
        </th>
        <th>
            Oscar Win
        </th>
    </tr>
    <tr>
        <td>
            {{FilmName}}
        </td>
        <td>
            {{FilmReleaseDate}}
        </td>
        <td>
            {{FilmSynopsis}}
        </td>
        <td>
            {{FilmOscarWins}}
        </td>
    </tr>
</table>
